h1
{
	font-size: 250%;
	
}
p
{
    font-size: 110%
}
input
{
	height: 29px;
	border-color: #BDC7D8;
	border-width: 1px;
	border-style: solid;
}
body
{
	margin: 0px 0px 0px 0px;
}
select
{
	 height:29px;
}
#SignUp
{
	padding: 0px 25px 0px 950px; 
}